In [1]:
import pandas as pd

In [4]:
path = r'resources/Ratings/cleaned_credit_ratings.xlsx'

In [7]:
df = pd.read_excel(path, index_col=0, parse_dates=True)

In [29]:
mtn = df[["MTN Group Limited"]].resample("YS").last().dropna() 
tlk = df[["Telkom SA SOC Limited"]].resample("YS").last().dropna()

In [31]:
pd.concat([mtn, tlk]).to_excel("tele.xlsx")

               MTN Group Limited
2006-01-01                Stable
2007-01-01                  None
2008-01-01              Positive
2009-01-01                  None
2010-01-01                  None
2011-01-01                  None
2012-01-01                  None
2013-01-01                Stable
2014-01-01                Stable
2015-01-01              Negative
2016-01-01              Negative
2017-01-01                Stable
2018-01-01  Ratings Under Review
2019-01-01              Negative
2020-01-01              Negative
2021-01-01                  None
2022-01-01                Stable