In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("resources/stock_universe_default_prob.xlsx", index_col=0)

In [3]:
mappings = {
    "Aaa": ["IG1", "IG2", "IG3",],
    "Aa": [ "IG4", "IG5", "IG6"],
    "A": ["IG7", "IG8", "IG9", "IG10"],
    "Baa": ["HY1", "HY2"],
    "Ba": ["HY3", "HY4"],
    "B": ["HY5", "HY6"],
    "Caa": ["DS1", "DS2"],
    "Ca": ["DS3", "DS4"],
    "C": ["DS5"]
}

# Create a reverse mapping dictionary
reverse_mappings = {value: key for key, values in mappings.items() for value in values}

# Map the values in the 'rating' column using the reverse mapping dictionary
df['rating'] = df['rsk_bb_issuer_default'].map(lambda x: reverse_mappings.get(x, x))

In [38]:
df.rating.value_counts()

rating
Aaa    53
A      36
Aa     29
Baa     5
Ba      2
B       1
Name: count, dtype: int64

In [33]:
df.rating.value_counts()

rating
Aaa    45
Aa     37
A      36
Baa     5
Ba      2
B       1
Name: count, dtype: int64

In [22]:
df[df.rating == "B"]

              bb_1yr_default_prob rsk_bb_issuer_default rating
security
TCP SJ Equity             6.6778%                   HY6      B