In [1]:
import pandas as pd

In [4]:
df = pd.read_excel("Book2.xlsx")

In [8]:
df = df.dropna(subset=["rtg_moody_long_term", "rtg_sp_lt_lc_issuer_credit"])

In [12]:
df.rtg_moody_long_term_date = pd.to_datetime(df.rtg_moody_long_term_date)

C:\Users\103763\AppData\Local\Temp\ipykernel_20508\941808204.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rtg_moody_long_term_date = pd.to_datetime(df.rtg_moody_long_term_date)

In [14]:
df.rtg_sp_lt_lc_iss_cred_rtg_dt = pd.to_datetime(df.rtg_sp_lt_lc_iss_cred_rtg_dt)

C:\Users\103763\AppData\Local\Temp\ipykernel_20508\640674260.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rtg_sp_lt_lc_iss_cred_rtg_dt = pd.to_datetime(df.rtg_sp_lt_lc_iss_cred_rtg_dt)

In [17]:
df = df.sort_values(["rtg_moody_long_term_date", "rtg_sp_lt_lc_iss_cred_rtg_dt"])

In [21]:
df = df.drop(["book_val_per_sh", "bs_tot_asset"], axis=1)

In [26]:
df = df.loc[df.id.drop_duplicates().index]

In [36]:
df.country_full_name.value_counts()

country_full_name
UNITED STATES    424
CHINA             58
JAPAN             41
BRITAIN           37
GERMANY           27
SOUTH KOREA       27
CANADA            25
FRANCE            23
HONG KONG         21
BRAZIL            20
AUSTRALIA         20
SWITZERLAND       14
INDIA             13
NETHERLANDS       12
SWEDEN            10
IRELAND            9
TAIWAN             8
NORWAY             7
SPAIN              7
ITALY              6
FINLAND            6
DENMARK            5
MALAYSIA           5
THAILAND           4
MEXICO             4
SOUTH AFRICA       4
SAUDI ARABIA       3
SINGAPORE          3
CHILE              3
TURKEY             3
QATAR              2
UAE                2
BELGIUM            2
ISRAEL             1
CZECH              1
LUXEMBOURG         1
URUGUAY            1
COLOMBIA           1
HUNGARY            1
AUSTRIA            1
PHILIPPINES        1
PORTUGAL           1
MACAU              1
BERMUDA            1
Name: count, dtype: int64

In [39]:
df[df.country_full_name == "SOUTH AFRICA"]

,id,name,gics_sector_name,gics_industry_name,rsk_bb_issuer_default,bb_5y_default_prob,rtg_moody_long_term,rtg_moody_long_term_date,rtg_sp_lt_lc_issuer_credit,rtg_sp_lt_lc_iss_cred_rtg_dt,country_full_name
1799,MTN SJ Equity,MTN Group Ltd,Communication Services,Wireless Telecommunication Services,IG8,0.023938,Ba2,2022-04-06,BB-,2020-05-12,SOUTH AFRICA
159,GFI SJ Equity,Gold Fields Ltd,Materials,Metals & Mining,IG7,0.021680,Baa3,2022-04-06,BBB-,2022-04-28,SOUTH AFRICA
1934,SSW SJ Equity,Sibanye Stillwater Ltd,Materials,Metals & Mining,HY2,0.077816,Ba2,2022-04-27,BB-,2023-12-12,SOUTH AFRICA
464,SOL SJ Equity,Sasol Ltd,Materials,Chemicals,IG10,0.038086,Ba1,2023-11-28,BB+,2022-10-28,SOUTH AFRICA