In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from scipy.spatial import distance

# Data Analysis

In [139]:
df = pd.read_csv("JALSH Index_dataset_2000_2024_clean.csv", index_col=0, header=[0, 1])
classfier = pd.read_excel("classification_data.xlsx", index_col=0)
metrics = pd.read_excel("metrics_full.xlsx", index_col=0)

In [159]:
metrics

,ABG SJ Equity,ADH SJ Equity,AEL SJ Equity,AFE SJ Equity,AFH SJ Equity,AFT SJ Equity,AGL SJ Equity,AIL SJ Equity,AIP SJ Equity,AMS SJ Equity,...,TFG SJ Equity,TGA SJ Equity,THA SJ Equity,TKG SJ Equity,TRU SJ Equity,TSG SJ Equity,VKE SJ Equity,VOD SJ Equity,WBO SJ Equity,WHL SJ Equity
oper_margin,28.202722,14.421976,5.841907,8.061480,19.331788,16.912217,18.427020,87.144999,16.014715,22.805459,...,12.665255,14.666294,4.164911,12.965402,19.765067,27.788494,68.366238,26.210947,4.335948,8.610180
return_on_asset,1.233318,8.247937,7.653897,5.113338,0.099075,12.092518,5.623050,4.356048,11.363074,14.951768,...,10.459391,14.996192,4.690065,6.401370,21.802062,8.697806,5.667759,16.143841,5.572577,9.756574
tot_debt_to_tot_asset,20.212411,19.850619,17.306101,21.207294,0.975794,11.256166,22.294088,0.000000,11.012743,10.662628,...,27.733825,0.800685,17.614912,24.225158,10.837195,34.730336,34.257211,24.905928,2.921138,28.117250
tot_debt_to_tot_cap,64.622361,24.330877,30.528639,31.505856,31.281776,15.862061,29.696387,0.000000,14.466634,15.155702,...,34.369187,2.304921,41.180385,32.873565,13.777841,41.338556,41.120550,37.757389,8.074190,42.591561
tot_debt_to_tot_eqy,242.937113,38.061018,53.463897,47.459330,80.367497,19.268366,43.240614,0.000000,18.092223,20.964517,...,59.437803,2.451614,115.038914,56.593172,21.861382,141.812906,73.289447,65.004940,9.188145,124.097944
asset_turnover,0.108163,1.115640,1.468364,1.175394,0.016101,1.037714,0.482276,0.063254,1.046750,0.798966,...,1.046913,0.992103,0.724942,0.724252,1.210102,0.573161,0.119474,1.076702,2.148323,1.897337
ebitda_margin,NaN,18.949128,8.609112,11.232598,27.476468,21.956225,26.502615,NaN,18.699604,29.452630,...,17.680716,20.215690,9.506585,27.292317,23.434060,35.590950,69.210913,35.695467,5.258228,11.653312
tot_debt_to_ebitda,NaN,1.329016,1.722145,1.734404,2.281107,0.607097,2.968238,NaN,0.521484,0.779408,...,1.894263,0.279258,2.297316,1.430977,0.565602,2.552621,3.613919,0.793112,0.311257,1.584613
interest_coverage_ratio,NaN,170.789112,13.542255,5.032983,NaN,13.990275,6.337486,NaN,20.350946,118.117503,...,7.209910,12.612075,7.319247,3.495262,1339.192812,5.561308,3.548919,9.790341,212.325909,12.769602
ebitda_to_tot_int_exp,NaN,219.356343,18.225091,7.064499,7.725572,18.198105,8.820816,NaN,25.139900,128.682471,...,9.788604,14.661929,10.029111,8.796523,1496.857073,7.036121,3.830182,13.355185,278.833027,16.341040
invent_to_sales,NaN,0.396962,11.194231,17.708564,NaN,12.235382,15.103152,NaN,23.676817,23.520617,...,22.065424,10.881740,17.880491,2.735846,10.309054,0.915305,NaN,1.624021,3.727372,9.858847

In [160]:
profitability = ['ebitda_margin', 'oper_margin', 'return_on_asset']
liquidity = ['tot_debt_to_ebitda', 'tot_debt_to_tot_asset', 'tot_debt_to_tot_cap', 'tot_debt_to_tot_eqy', 'interest_coverage_ratio', 'ebitda_to_tot_int_exp']
efficiency = ['invent_to_sales', 'asset_turnover']
bloomberg_metrics = ["oper_margin", 'tot_debt_to_tot_eqy', 'interest_coverage_ratio', 'return_on_asset', 'tot_debt_to_ebitda', 'ebitda_to_tot_int_exp']

In [161]:
def filter_securities(filters, data=classfier):
    
    # Apply filters directly on the transposed
    filtered_data = data.query(
        ' and '.join(f'`{k}` == "{v}"' for k, v in filters.items())
    )
    
    return list(filtered_data.index)


# def get_metrics(df):
#     df = df.copy()
#     individual_metrics = {}

#     # List all metrics together for iteration
#     all_metrics = profitability + liquidity + efficiency

#     # Calculate the average of each metric individually for each stock
#     for stock in df.columns.levels[0]:
#         individual_metrics[stock] = {}
#         for metric in all_metrics:
#             if metric in df[stock].columns:
#                 individual_metrics[stock][metric] = df[stock][metric].mean()

#     # Convert the results to a DataFrame for better presentation
#     return pd.DataFrame(individual_metrics)

In [162]:
classfier.sector.unique()

array(['Financial', 'Consumer, Non-cyclical', 'Industrial',
       'Basic Materials', 'Diversified', 'Consumer, Cyclical',
       'Communications', 'Technology', 'Energy'], dtype=object)

In [163]:
securities = filter_securities({"sector":"Communications"})
sector_secuirties = metrics.loc[bloomberg_metrics, securities]

In [164]:
df = sector_secuirties

In [165]:
df

,BLU SJ Equity,MTN SJ Equity,NPN SJ Equity,PRX SJ Equity,TKG SJ Equity,VOD SJ Equity
oper_margin,4.000647,23.903866,0.872767,-15.613465,12.965402,26.210947
tot_debt_to_tot_eqy,32.809328,65.116785,46.495798,23.835412,56.593172,65.004940
interest_coverage_ratio,6.346575,8.547827,1.202261,-2.821364,3.495262,9.790341
return_on_asset,4.215240,7.405181,9.810263,17.200617,6.401370,16.143841
tot_debt_to_ebitda,1.150158,1.305329,30.183306,98.162493,1.430977,0.793112
ebitda_to_tot_int_exp,7.547418,13.114130,2.966674,-2.158024,8.796523,13.355185

In [167]:
inverse_relationships = [ False,True, False, False, True, False]

In [168]:
def calculate_overall_credit_score(credit_scores, weights = None):
    """
    Calculate the overall credit score and rating based on individual financial ratio credit scores.

    Args:
        credit_scores (list): List of credit scores for each financial ratio.

    Returns:
        tuple: A tuple containing the overall credit score (float) and overall credit rating (str).
    """
    
    max_score = 100
    min_score = 0
    
    if weights:
        overall_credit_score = sum(score * weight for score, weight in zip(credit_scores, weights)) / sum(weights)
    
    else:
        overall_credit_score = sum(credit_scores) / len(credit_scores)

    # Rescale the overall credit score to have a maximum rating of 100
    rescaled_credit_score = (overall_credit_score - min_score) / (max_score - min_score) * 100
    
    if overall_credit_score >= 75:
        overall_credit_rating = "Good"
    elif overall_credit_score >= 50:
        overall_credit_rating = "Fair"
    else:
        overall_credit_rating = "Poor"
    
    return overall_credit_score, overall_credit_rating

def calculate_credit_score(financial_ratio, industry_thresholds, expert_thresholds, inverse_relationship=False):
    """
    Calculate the actual credit score within a universal score range based on where the financial ratio
    falls within its thresholds, alongside the credit rating, confidence level, and universal range scores.
    
    Args:
        financial_ratio (float): Financial ratio value.
        industry_thresholds (dict): Dictionary of industry thresholds for each rating.
        expert_thresholds (dict): Dictionary of expert thresholds for each rating.
        inverse_relationship (bool): Indicates if the financial ratio has an inverse relationship (lower is better).

    Returns:
        tuple: A tuple containing the actual credit score (int), credit rating (str),
               confidence level (float), and universal score ranges (dict).
    """
    # Adjust thresholds and financial ratio for inverse relationships
    if inverse_relationship:
        financial_ratio = 1 / financial_ratio
        industry_thresholds = {k: 1/v for k, v in industry_thresholds.items()}
        expert_thresholds = {k: 1/v for k, v in expert_thresholds.items()}
    
    distances = {
        rating: distance.euclidean(
            [financial_ratio],
            [(industry_thresholds[rating] + expert_thresholds[rating]) / 2])
        for rating in ['good', 'fair', 'poor']
    }
    
    credit_rating = min(distances, key=distances.get)
    
    # Universal score ranges for each rating category
    score_ranges = {
        'good': (75, 100),
        'fair': (50, 74),
        'poor': (0, 49)
    }

    # Determine the min and max threshold for the financial ratio
    min_threshold = min(industry_thresholds.values())
    max_threshold = max(industry_thresholds.values())
    
    # Calculate where the financial ratio falls within its thresholds
    financial_ratio = max(min_threshold, min(financial_ratio, max_threshold))
    ratio_position = (financial_ratio - min_threshold) / (max_threshold - min_threshold)
    
    # Apply this proportion to the corresponding universal score range
    credit_score_range = score_ranges[credit_rating]
    score_range_width = credit_score_range[1] - credit_score_range[0]
    credit_score = credit_score_range[0] + ratio_position * score_range_width
    
    # Calculate confidence level
    confidence_level = (credit_score - credit_score_range[0]) / score_range_width
    confidence_level = max(0, min(1, confidence_level))
    
    return credit_score, credit_rating, confidence_level, score_ranges

In [169]:
def get_industry_thresholds(df, inverse_relationships):
    industry_thresholds = []

    for i, metric in enumerate(df.index):
        q25, q50, q75 = df.loc[metric].quantile([0.25, 0.50, 0.75])

        thresholds = {"good": q25, "fair": q50, "poor": q75} if inverse_relationships[i] else {"good": q75, "fair": q50, "poor": q25}
        industry_thresholds.append(thresholds)

    return industry_thresholds

def get_stock_metrics(df):
    dict_df = df.to_dict()
    return {stock: list(dict_df[stock].values()) for stock in dict_df}

In [170]:
df.loc["return_on_asset"]

BLU SJ Equity     4.215240
MTN SJ Equity     7.405181
NPN SJ Equity     9.810263
PRX SJ Equity    17.200617
TKG SJ Equity     6.401370
VOD SJ Equity    16.143841
Name: return_on_asset, dtype: float64

In [171]:
company_ratios = get_stock_metrics(df)
industry_thresholds = get_industry_thresholds(df, inverse_relationships)
expert_thresholds = get_industry_thresholds(df, inverse_relationships)

In [172]:
# Iterate over each company and calculate credit scores for each financial ratio
data  = {}
for company, ratios in company_ratios.items():
    print(f"Company {company}:")
    credit_scores = []

    for i, ratio in enumerate(ratios):
        credit_score, credit_rating, confidence_level, range_scores = calculate_credit_score(
            ratio, industry_thresholds[i], expert_thresholds[i], inverse_relationships[i]
        )

        credit_scores.append(credit_score)


    overall_credit_score, overall_credit_rating = calculate_overall_credit_score(credit_scores)
    print(f"Overall Credit Score: {overall_credit_score:.2f}")
    print(f"Overall Credit Rating: {overall_credit_rating}")
    print()
    
    data[company] = credit_scores

Company BLU SJ Equity:
Overall Credit Score: 55.65
Overall Credit Rating: Fair

Company MTN SJ Equity:
Overall Credit Score: 62.73
Overall Credit Rating: Fair

Company NPN SJ Equity:
Overall Credit Score: 20.18
Overall Credit Rating: Poor

Company PRX SJ Equity:
Overall Credit Score: 33.33
Overall Credit Rating: Poor

Company TKG SJ Equity:
Overall Credit Score: 51.35
Overall Credit Rating: Fair

Company VOD SJ Equity:
Overall Credit Score: 83.33
Overall Credit Rating: Good

In [173]:
pd.DataFrame(data, bloomberg_metrics)

,BLU SJ Equity,MTN SJ Equity,NPN SJ Equity,PRX SJ Equity,TKG SJ Equity,VOD SJ Equity
oper_margin,5.890466,100.000000,0.000000,0.0,63.910465,100.0
tot_debt_to_tot_eqy,100.000000,0.000000,61.503899,100.0,53.634421,0.0
interest_coverage_ratio,67.631869,100.000000,0.000000,0.0,56.633557,100.0
return_on_asset,0.000000,4.664831,59.583886,100.0,0.000000,100.0
tot_debt_to_ebitda,100.000000,71.743582,0.000000,0.0,69.719477,100.0
ebitda_to_tot_int_exp,60.407014,100.000000,0.000000,0.0,64.190811,100.0

In [97]:
import pandas as pd

# Create the dataframe
data = {
    'BLU SJ Equity': [100.000000, 67.631869, 0.000000, 100.000000, 60.407014],
    'MTN SJ Equity': [0.000000, 100.000000, 4.664831, 71.743582, 100.000000],
    'NPN SJ Equity': [61.503899, 0.000000, 59.583886, 0.000000, 0.000000],
    'PRX SJ Equity': [100.0, 0.0, 100.0, 0.0, 0.0],
    'TKG SJ Equity': [53.634421, 56.633557, 0.0, 69.719477, 64.190811],
    'VOD SJ Equity': [0.0, 100.0, 100.0, 100.0, 100.0]
}
df = pd.DataFrame(data, index=bloomberg_metrics)

# Score ranges
score_ranges = {
    'good': (75, 100),
    'fair': (50, 74),
    'poor': (0, 49)
}

# Function to assign categories
def assign_category(value):
    for category, (min_score, max_score) in score_ranges.items():
        if min_score <= value <= max_score:
            return category
    return 'unknown'

# Apply the function to the entire dataframe
df_categories = df.applymap(assign_category)

df_categories

C:\Users\103763\AppData\Local\Temp\ipykernel_32036\4092496259.py:30: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_categories = df.applymap(assign_category)

,BLU SJ Equity,MTN SJ Equity,NPN SJ Equity,PRX SJ Equity,TKG SJ Equity,VOD SJ Equity
tot_debt_to_tot_eqy,good,poor,fair,good,fair,poor
interest_coverage_ratio,fair,good,poor,poor,fair,good
return_on_asset,poor,poor,fair,good,poor,good
tot_debt_to_ebitda,good,fair,poor,poor,fair,good
ebitda_to_tot_int_exp,fair,good,poor,poor,fair,good

In [101]:
df

,BLU SJ Equity,MTN SJ Equity,NPN SJ Equity,PRX SJ Equity,TKG SJ Equity,VOD SJ Equity
tot_debt_to_tot_eqy,100.000000,0.000000,61.503899,100.0,53.634421,0.0
interest_coverage_ratio,67.631869,100.000000,0.000000,0.0,56.633557,100.0
return_on_asset,0.000000,4.664831,59.583886,100.0,0.000000,100.0
tot_debt_to_ebitda,100.000000,71.743582,0.000000,0.0,69.719477,100.0
ebitda_to_tot_int_exp,60.407014,100.000000,0.000000,0.0,64.190811,100.0