In [1]:
import pandas as pd

In [52]:
df = pd.read_excel("dataset/features.xlsx",  header=[0, 1], index_col=0)

In [54]:
df.columns.levels[0].to_list()

['ASSET_TURNOVER',
 'BS_LT_BORROW',
 'BS_ST_BORROW',
 'BS_TOTAL_LIABILITIES',
 'BS_TOT_ASSET',
 'CFO_TO_TOT_DEBT',
 'EBITDA',
 'EBITDA_TO_INTEREST_EXPN',
 'EBITDA_TO_REVENUE',
 'EBITDA_TO_TOT_INT_EXP',
 'FCF_TO_TOTAL_DEBT',
 'IS_OPER_INC',
 'NET_DEBT_TO_EBITDA',
 'OPER_MARGIN',
 'RETAINED_CASH_FLOW_TO_NET_DEBT',
 'RETURN_ON_ASSET',
 'RETURN_ON_CAP',
 'RETURN_ON_INV_CAPITAL',
 'SALES_GROWTH',
 'SALES_REV_TURN',
 'SHORT_AND_LONG_TERM_DEBT',
 'TOTAL_EQUITY',
 'TOT_DEBT_TO_EBITDA',
 'TOT_DEBT_TO_TOT_ASSET',
 'TOT_DEBT_TO_TOT_CAP',
 'TOT_DEBT_TO_TOT_EQY']

In [7]:
mrp = df['MRP SJ Equity']

In [9]:
mrp.columns

Index(['SALES_TO_TOT_ASSET', 'BS_TOTAL_LIABILITIES', 'ASSET_TO_EQY',
       'SALES_GROWTH', 'TOTAL_EQUITY', 'CFO_TO_TOT_DEBT', 'EBITDA_TO_REVENUE',
       'EBITDA_TO_TOT_INT_EXP', 'FCF_TO_TOTAL_DEBT', 'RETURN_ON_ASSET',
       'TOT_DEBT_TO_TOT_ASSET', 'BS_TOTAL_AVAIL_LINE_OF_CREDIT',
       'TOT_DEBT_TO_TOT_EQY', 'EBITDA_MARGIN', 'TOT_DEBT_TO_EBITDA',
       'CF_FREE_CASH_FLOW', 'CASH_TO_TOT_ASSET', 'SALES_TO_INVENT',
       'BS_INVENTORIES', 'TANGIBLE_ASSETS', 'BS_TOT_ASSET',
       'BS_CASH_NEAR_CASH_ITEM', 'IS_NET_INTEREST_EXPENSE', 'IS_INT_EXPENSE',
       'BS_OTHER_PPE_GROSS'],
      dtype='object', name='Dates')

In [97]:
fields = [
    "RETURN_ON_ASSET",
    "CASH_TO_TOT_ASSET",
    "BS_TOT_ASSET",
    "TANGIBLE_ASSETS",
    "SALES_GROWTH",
    "INVENT_TURN",
    "FCF_TO_INTEREST_EXPENSE",
    "ASSET_TURNOVER",
    "SALES_TO_TOT_ASSET",
    "BS_TOTAL_LIABILITIES",
    "ASSET_TO_EQY",
    "TOTAL_EQUITY",
    "CFO_TO_TOT_DEBT",
    "EBITDA_TO_REVENUE",
    "EBITDA_TO_TOT_INT_EXP",
    "FCF_TO_TOTAL_DEBT",
    "TOT_DEBT_TO_TOT_ASSET",
    "BS_TOTAL_AVAIL_LINE_OF_CREDIT",
    "TOT_DEBT_TO_TOT_EQY",
    "EBITDA_MARGIN",
    "TOT_DEBT_TO_EBITDA",
    "CF_FREE_CASH_FLOW",
    "SALES_TO_INVENT",
    "BS_INVENTORIES",
    "BS_CASH_NEAR_CASH_ITEM",
    "IS_NET_INTEREST_EXPENSE",
    "IS_INT_EXPENSE",
    "OPER_MARGIN",
    "BS_LT_BORROW",
    "BS_ST_BORROW",
    "EBITDA",
    "EBITDA_TO_INTEREST_EXPN",
    "IS_OPER_INC",
    "NET_DEBT_TO_EBITDA",
    "RETAINED_CASH_FLOW_TO_NET_DEBT",
    "RETURN_ON_CAP",
    "RETURN_ON_INV_CAPITAL",
    "SALES_REV_TURN",
    "SHORT_AND_LONG_TERM_DEBT",
    "TOT_DEBT_TO_TOT_CAP",
    "SALES_REV_TURNV"
]

In [98]:
fields = list(set(fields))

In [99]:
fields

['RETURN_ON_CAP',
 'CFO_TO_TOT_DEBT',
 'TOT_DEBT_TO_TOT_CAP',
 'FCF_TO_TOTAL_DEBT',
 'EBITDA_TO_TOT_INT_EXP',
 'CF_FREE_CASH_FLOW',
 'BS_TOTAL_LIABILITIES',
 'TOT_DEBT_TO_TOT_EQY',
 'TOT_DEBT_TO_EBITDA',
 'CASH_TO_TOT_ASSET',
 'EBITDA',
 'BS_CASH_NEAR_CASH_ITEM',
 'FCF_TO_INTEREST_EXPENSE',
 'BS_TOTAL_AVAIL_LINE_OF_CREDIT',
 'ASSET_TURNOVER',
 'SALES_TO_INVENT',
 'BS_ST_BORROW',
 'NET_DEBT_TO_EBITDA',
 'RETURN_ON_INV_CAPITAL',
 'EBITDA_TO_REVENUE',
 'OPER_MARGIN',
 'IS_INT_EXPENSE',
 'SHORT_AND_LONG_TERM_DEBT',
 'SALES_REV_TURN',
 'TOTAL_EQUITY',
 'TOT_DEBT_TO_TOT_ASSET',
 'IS_NET_INTEREST_EXPENSE',
 'INVENT_TURN',
 'EBITDA_MARGIN',
 'SALES_REV_TURNV',
 'RETURN_ON_ASSET',
 'SALES_TO_TOT_ASSET',
 'TANGIBLE_ASSETS',
 'BS_INVENTORIES',
 'EBITDA_TO_INTEREST_EXPN',
 'IS_OPER_INC',
 'RETAINED_CASH_FLOW_TO_NET_DEBT',
 'BS_LT_BORROW',
 'ASSET_TO_EQY',
 'BS_TOT_ASSET',
 'SALES_GROWTH']

In [100]:
data = {ticker: fields for ticker in tickers}

In [101]:
import os
from openpyxl.utils import get_column_letter, quote_sheetname

In [102]:
from datetime import datetime

In [75]:
def write_bloomberg_excel_workbooks(data, filename_prefix, max_tickers_per_workbook=1, directory=None):
    
    directory = os.path.join(directory, 'bb_dataset') if directory else 'bb_dataset'
    os.makedirs(directory, exist_ok=True)
    tickers = list(data.keys())
    
    for workbook_index, start_index in enumerate(range(0, len(tickers), max_tickers_per_workbook)):
        end_index = min(start_index + max_tickers_per_workbook, len(tickers))
        workbook_tickers = tickers[start_index:end_index]

        workbook = Workbook()
        sheet = workbook['Sheet']
        sheet.cell(3, 2, "Start Date")
        sheet.cell(4, 2, "End Date")
        sheet['C3'] = datetime(2000, 1, 1)

        for ticker in workbook_tickers:
            fields = data[ticker]
            sheet = workbook.create_sheet(title=ticker)
            sheet['B1'] = ticker

            for i, value in enumerate(fields, start=2):
                sheet.cell(row=2, column=i, value=value)

            last_column = get_column_letter(len(fields) + 1)
            quoted_sheet_name = quote_sheetname('Sheet')
            formula = f'=@BDH(B$1,B2:{last_column}2,{quoted_sheet_name}!C3,{quoted_sheet_name}!C4,"Dir=V","Per=M","Days=A","Dts=S")'
            sheet['A3'] = formula
            
        filename = f'{directory}/{filename_prefix}_workbook_{workbook_index + 1}.xlsx'
        workbook.save(filename)
        print(f"File saved: {filename}")

In [103]:
write_bloomberg_excel_workbooks(data, "hello_credit", 15, directory="data")

File saved: data\bb_dataset/hello_credit_workbook_1.xlsx
File saved: data\bb_dataset/hello_credit_workbook_2.xlsx
File saved: data\bb_dataset/hello_credit_workbook_3.xlsx
File saved: data\bb_dataset/hello_credit_workbook_4.xlsx
File saved: data\bb_dataset/hello_credit_workbook_5.xlsx
File saved: data\bb_dataset/hello_credit_workbook_6.xlsx
File saved: data\bb_dataset/hello_credit_workbook_7.xlsx
File saved: data\bb_dataset/hello_credit_workbook_8.xlsx
File saved: data\bb_dataset/hello_credit_workbook_9.xlsx

In [ ]:
import os
import pandas as pd

def concat_excel_files(directory):
    excel_files = [file for file in os.listdir(directory) if file.endswith('.xlsx')]
    
    dataframes = []
    for file in excel_files:
        file_path = os.path.join(directory, file)
        xlsx = pd.ExcelFile(file_path)
        
        dataframes.append(pd.concat([pd.read_excel(xlsx, sheet_name=sheet) for sheet in xlsx.sheet_names[1:]], axis=1))
    
    return pd.concat(dataframes, axis=0)

In [86]:
directory = "bb_dataset/"
excel_files = ['hello_credit_workbook_1.xlsx', 'hello_credit_workbook_2.xlsx',]

In [96]:
pd.concat(dataframes, axis=0)['ABG SJ Equity'].dropna(axis=1)

Empty DataFrame
Columns: []
Index: [2000-02-29 00:00:00, 2000-03-31 00:00:00, 2000-06-30 00:00:00, 2000-08-31 00:00:00, 2000-09-30 00:00:00, 2000-12-31 00:00:00, 2001-02-28 00:00:00, 2001-03-31 00:00:00, 2001-06-30 00:00:00, 2001-08-31 00:00:00, 2001-09-30 00:00:00, 2001-12-31 00:00:00, 2002-02-28 00:00:00, 2002-03-31 00:00:00, 2002-06-30 00:00:00, 2002-08-31 00:00:00, 2002-09-30 00:00:00, 2002-12-31 00:00:00, 2003-02-28 00:00:00, 2003-03-31 00:00:00, 2003-06-30 00:00:00, 2003-08-31 00:00:00, 2003-09-30 00:00:00, 2003-12-31 00:00:00, 2004-02-29 00:00:00, 2004-03-31 00:00:00, 2004-06-30 00:00:00, 2004-08-31 00:00:00, 2004-09-30 00:00:00, 2004-12-31 00:00:00, 2005-02-28 00:00:00, 2005-03-31 00:00:00, 2005-06-30 00:00:00, 2005-08-31 00:00:00, 2005-09-30 00:00:00, 2005-12-31 00:00:00, 2006-02-28 00:00:00, 2006-03-31 00:00:00, 2006-06-30 00:00:00, 2006-08-31 00:00:00, 2006-09-30 00:00:00, 2006-12-31 00:00:00, 2007-02-28 00:00:00, 2007-03-31 00:00:00, 2007-06-30 00:00:00, 2007-08-31 00:00:00, 2007-09-30 00:00:00, 2007-12-31 00:00:00, 2008-02-29 00:00:00, 2008-03-31 00:00:00, 2008-06-30 00:00:00, 2008-08-31 00:00:00, 2008-09-30 00:00:00, 2008-12-31 00:00:00, 2009-02-28 00:00:00, 2009-03-31 00:00:00, 2009-06-30 00:00:00, 2009-08-31 00:00:00, 2009-09-30 00:00:00, 2009-12-31 00:00:00, 2010-02-28 00:00:00, 2010-03-31 00:00:00, 2010-06-30 00:00:00, 2010-08-31 00:00:00, 2010-09-30 00:00:00, 2010-12-31 00:00:00, 2011-02-28 00:00:00, 2011-03-31 00:00:00, 2011-06-30 00:00:00, 2011-08-31 00:00:00, 2011-09-30 00:00:00, 2011-12-31 00:00:00, 2012-02-29 00:00:00, 2012-03-31 00:00:00, 2012-06-30 00:00:00, 2012-08-31 00:00:00, 2012-09-30 00:00:00, 2012-12-31 00:00:00, 2013-02-28 00:00:00, 2013-03-31 00:00:00, 2013-06-30 00:00:00, 2013-08-31 00:00:00, 2013-09-30 00:00:00, 2013-12-31 00:00:00, 2014-02-28 00:00:00, 2014-03-31 00:00:00, 2014-06-30 00:00:00, 2014-08-31 00:00:00, 2014-09-30 00:00:00, 2014-12-31 00:00:00, 2015-02-28 00:00:00, 2015-03-31 00:00:00, 2015-06-30 00:00:00, 2015-08-31 00:00:00, 2015-09-30 00:00:00, 2015-12-31 00:00:00, 2016-02-29 00:00:00, 2016-03-31 00:00:00, 2016-06-30 00:00:00, 2016-08-31 00:00:00, ...]

[335 rows x 0 columns]